.button
{
    -fx-background-color: #402E5D;
    -fx-background-radius: 30 30 30 30;
}
.button:hover
{
    -fx-background-color: #402E5D;
    -fx-background-radius: 30 30 30 30;

}
.button:pressed
{
    -fx-background-color: #402E5D;
    -fx-background-radius: 30 30 30 30
}